.logo{
    width: 100px;
    height: auto;
}
#header{
    display: flex;
    align-items:center;
    justify-content: space-between;
    padding: 20px 80px;
    background: #E3E6F3;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
}
#navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
}
#navbar li{
list-style: none;  
padding: 0 20px;
position: relative;
}
#navbar.active{
    right: 0px;
}
#navbar li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color:#1a1a1a;
    transition: 0.3s ease ;

}
#navbar li a:hover,#navbar li a.active{
    color: blue;
}
#navbar li a.active::after,#navbar li a:hover::after{
content: "";
width:30%;
height: 2px;
background-color: blue;
position: absolute;
bottom: -4px;
left: 20px;
}
#mobile{
    display: none;
    align-items: center;
} 
#close{
    display: none;
}

/*home page*/

#anni{
    background-image: url("image/ANNI.jpg");
    background-repeat: no-repeat;
    height: 90vh;
    width: 100%;
    background-size: cover;
    background-position: top 25% left 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    background-color: hwb(228 81% 13%);
    
}
#anni #side{
    padding: 0 80px;
    text-align: center;
    justify-content: center;
}
#anni h4{
    padding: bottom 15px;
}
#anni h1{
    color: #088178;
} 
#anni button{
    background-image: url("image/button.png");
    background-color: transparent;
    color:#088178;
    border: 0;
    padding: 14px 80px 14px 65px;
    background-repeat: no-repeat;
    border-radius: 20px;
    border-color: #E3E6F3;
    cursor: pointer;
    font-size: 15px;
    font-weight: 700;
    margin-left: 50px;
}
.section-p1{
padding: 40px 80px ;
}
.section-m1{
    margin: 40px 0;
}
button.normal{
    font-size:14px ;
    font-weight: 600;
    padding:10px 30px;
    color: black;
    background-color:white ;
    border-radius:4px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.2s;
}
#feature .feature-box{
    width: 150px;
    height: 150px;
    text-align: center;
    padding: 25px 15px;
    box-shadow: 20px 20px 29px rgb(0, 0, 0, 0.03);
    border: 2px solid #cce7d0;
    border-radius: 4px;
    margin: 15px 0;
}
#feature .feature-box:hover{
    box-shadow: 10px 10px 54px rgb(70, 62, 221, 0.1);
}
#feature .feature-box image{
width: 100%;
margin-bottom: 10px ;
}
#feature .feature-box h4{
   /* display: inline-block;* padding hatne ke liye*/
    padding:9px 8px 6px 8x ;
    line-height: 1.5;
    border-radius: 4px;
    color: #088178;
    background-color: #fddde4;
}
#feature{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
#feature .feature-box:nth-child(2) h4{
    background-color: #cdebbc;
}
#feature .feature-box:nth-child(3) h4{
    background-color: #d1e8f2;
}
#feature .feature-box:nth-child(4) h4{
    background-color: #cdd4f6;
}
#feature .feature-box:nth-child(5) h4{
    background-color: #f6dbf6;
}
#feature .feature-box:nth-child(6) h4{
    background-color: #fff2e5;
}
#product1{
    text-align: center;
}
#product1 h1{
 font-size: 25px;
}

#product1 .productslist {
display: flex;
justify-content: space-between;
padding-top: 20px;
flex-wrap: wrap;
}

#product1 .pro-list{
    width: 22%;
    height: 10%;
    min-width: 250px;
    padding: 10px 12px;
  border: 1px solid #cce7d0;
  border-radius: 25px;
  cursor: pointer;
  box-shadow: 20px 20px 30px rgb(0, 0, 0, 0.02);
  margin: 15px 0px;
  transition:0.2s ease;
  position: relative;
  /*background-color:rgb(247, 241, 241);*/
}
#product1 .pro-list img{
    width: 100%;
    height: 50%;
    border-radius: 2px;
}
#product1 .pro-list:hover{
    box-shadow: 20px 20px 30px rgb(0, 0, 0, 0.06);
}
#product1 .pro-list .discription{
    text-align: start;
    padding: 10px 0;
}
#product1 .pro-list .discription span{
    color: #606063;
    font-size :12px;
}
#product1 .pro-list .discription{
    color: #1a1a1a;
    font-size: 14px;
}
#product1 .pro-list .discription i{
    font-size: 12px;
    color: rgb(243, 181, 25);
}
#product1 .pro-list .discription h4{
    font: size 15px;
    font-weight: 700;
    color: #088178;
}
#product1 .pro-list #cart{
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50px;
    background-color: #e8f6ea;
    color:#088178;
    border: 1px solid #cce7d0;
   position:absolute ;
    bottom: 60px;
    right: 10px;
}
#banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image:url("image/banner1.jpg");
    width: 100%;
    height: 30vh;
    background-size: cover;
    background-position: center;
}
#banner h4{
    color: white;
    font-size: 20px;
}
#banner h1{
    color: white;
    font-size: 30px;
}
#banner h1 span{
    color: red;
    font-size: 35px;
}
#banner button:hover{
    background: #088178;
    columns: white;
}
#small-banner{
   display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}

#small-banner .banner-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-image:url("image/small\ banner1.jpg");
    min-width: 600px;
    height: 40vh;
    background-size: cover;
    background-position: center;
    padding: 15px;
}

#small-banner h4{
    color: white;
    font-size: 20px;
    font-weight: 300;
}

#small-banner h2{
    color: white;
    font-size: 28px;
    font-weight: 800;
}

#small-banner span{
    color: white;
    font-size: 14px;
    font-weight: 500;
    padding-bottom: 15px;
}

button.white{
    font-size:13px ;
    font-weight: 600;
    padding:11px 18px;
    color:white;
    background-color:transparent ;
    cursor: pointer;
    border: 1px solid white;
    outline: none;
    transition: 0.2s;
}
#small-banner .banner-box:hover button{
    background-color: #088178;
    border: 1px solid #088178;
}
#small-banner .banner-box2{
    background-image: url("image/small\ banner2.jpg");
}
#banner3{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 80px;
}
#banner3 .banner-box{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        background-image:url("image/banner3.jpg");
        min-width: 30%;
        height: 30vh;
        background-size: cover;
        background-position: center;
        padding: 20px;
        margin-bottom: 20px;

}
#banner3 h2{
    font-weight: 900;
    font-size: 22px;
}
#banner3 h3{
    color: red;
    font-weight: 800;
    font-size: 15px;
}
#banner3 .banner-box3{
background-image: url("image/banner4.jpeg");
}
#banner3 .banner-box4{
    background-image: url("image/banner5.jpg");
    }
   #newsletter{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-image: url("image/banner6.jpg");
    background-repeat: no-repeat;
    background-position: 20% 30%;
    background-color: #041e42;
   }
   #newsletter h4{
    font-size: 22px;
    font-weight: 700;
    color: #fff;
   }
   #newsletter p{
    font-size: 14px;
    font-weight: 600;
    color: #818ea0;
   }
   #newsletter p span{
    color: #ffbd27;
   }
   #newsletter input {
    height: 3.125rem;
    padding: 0 1.25em;
    font-size: 14px;
    width: 100%;
    border: 1px solid transparent;
    border-radius: 4px;
    outline: none;
    border-top-right-radius: 0;
    border-bottom-right-radius:0;
   }
   #newsletter button{
    background-color: #088178;
    color:#fff;
    white-space: nowrap;
    border-top-left-radius: 0;
    border-bottom-left-radius:0;
   }
   #newsletter .form{
    display: flex;
    width: 40%;
   }
   footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
   }
   footer .column{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
   }
footer .logo{
    margin-bottom: 30px;
}
footer h4{
    font-size: 14px;
    padding-bottom: 20px;
}
footer p{
    font-size: 13px;
    margin: 0 0 8px 0;
}
footer a{
    font-size: 13px;
    text-decoration: none;
    color: #222;
    margin-bottom: 10px;
}
footer .follow{
    margin-top: 20px;
}
footer .follow i{
  color: #465b52; 
  padding-right: 4px; 
  cursor: pointer;
}
footer .install .row img{
    border: 1px solid #088178;
    border-radius: 6px;
}
footer .install img{
    margin: 10px 0 15px 0;
}
footer .follow i:hover,footer a :hover{
    color: #088178
}



    /*single-product*/
    #prodetails{
        display: flex;
        flex-direction: column;
    }
    #prodetails .single-pro-image {
        width: 100%;
        margin-right: 0px;
    }
    #prodetails .single-pro-details{
        width: 100%;
    }


/*SHOP--PAGE*/
#page-header{
    background-image: url("image/b1.jpg");
    width: 100%;
    height: 40vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}
#page-header h2,#page-header p{
    color: #fff;
}
#pagination{
    text-align: center;
}
#pagination a{
    text-decoration: none;
    background-color:#088178 ;
    padding: 15px 20px;
    border-radius: 4px;
    color: white;
    font-weight: 600;
}
#pagination a i{
    font-size: 16px;
    font-weight: 600;
}
 /*single-product*/
 .pro-details-about{
    font-weight: bold;
 }
 #prodetails .single-pro-image{
    width: 40%;
    margin-right:50px ;
 }
 .small-img-group{
display: flex;
justify-content: space-between;
 }


 .small-img-col{
     flex-basis: 24%;
     cursor: pointer;
 }
 #prodetails{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
 }
 #prodetails .single-pro-details{
    width: 50%;
    padding-top: 30px;
 }
 #prodetails .single-pro-details h5{
    padding:40px 0px 20px 0px;
 }
 #prodetails .single-pro-details h2{
    font-size: 26px;
 }
 #prodetails .single-pro-details select{
    display: block;
    padding: 5px 10px;
    margin-bottom: 10px;
 }
 #prodetails .single-pro-details input{
  width: 50px;
  height: 47px;
  padding-left: 10px;
  font-size: 16px;
  margin-right: 10px;
 }
 #prodetails .single-pro-details button{
  background-color: #088178;
  color: #fff;
 }
 #prodetails .single-pro-details input:focus{
    outline: none;
 }
 #prodetails .single-pro-details span{
    line-height: 25px;
 } 



 /* BLOG PAGE */

 #page-header.blog-header{
   background-image: url("image/banner19.jpg"); 
 }
#blog{
    padding: 150px 150px 0 150px;
}
#blog .blog-box{
    display: flex;
    align-items: center;
    width: 100%;
    position: relative;
    padding-bottom: 90px;
}
#blog .blog-img{
    width: 50%;
    margin-right: 40px;
}
#blog img{
    width: 100%;
    height: 300px;
    object-fit: cover;
}
#blog .blog-details{
    width: 50%;
}
#blog .blog-details a{
    text-decoration: none;
    font-size: 11px;
    color: black;
    font-weight: 700;
    position: relative;
    transition: 0.3s;
}
#blog .blog-details a::after{
content: "";
width: 50px;
height: 1px;
background-color: black;
position: absolute;
top: 4px;
right: -60px;
}
#blog .blog-details a:hover{
    color: #088178;
}
#blog .blog-details a:hover::after{
    color: #088178;
}
#blog .blog-box h1{
    position: absolute;
    top: -115px;
    left: 0;
    font-size: 70px;
    font-weight: 700;
    color: #c9cbce;
    z-index: -9;

}




 /*ABOUT PAGE*/
#page-header.about-header{
    background-image: url("image/about/about_banner.png");
}
#about_head marquee{
    background-color: #ccc;
}
#about_head img{
    width: 50%;
    height: auto;
}
#about_head{
    display: flex;
    align-items: center;
}
#about_head div{
    padding-left: 40px;
}
#about-app{
    text-align: center;
}
#about-app .video{
    width: 70%;
    height: 100%;
    margin: 30px auto 0 auto;
}
#about-app .video video{
width: 100%;
height: 100%;
border-radius: 20px;
}
 /*CONTACT PAGE*/
#contact-details{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#contact-details .details{
    width: 40%;
}
#contact-details .details span,
#form-details form span{
    font-size: 12px;
}
#contact-details .details h2,
#form-details form h2{
    font-size: 26px;
    line-height: 35px;
    padding:20px,0 ;
}
#contact-details .details h3{
    font-size: 16px;
 padding-bottom: 15px;
}
#contact-details .details li {
    list-style: none;
    display: flex;
    padding: 10px 0;
}
#contact-details .details i{
    font-size: 14px;
    padding-right: 22px;
}
#contact-details .details li p{
    margin: 0;
    font-size: 14px;
}
#contact-details .map{
    width: 55%;
    height: 400px;
}
#contact-details .map iframe{
    width: 100%;
    height: 100%;
}
#form-details{
    display: flex;
    justify-content: space-between;
    margin: 30px;
    padding: 80px;
    border: 1px solid #e1e1e1;
}
#form-details form{
    width: 65%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#form-details form input,
#form-details form textarea {
    width: 100%;
    padding: 12px 15px;
    outline: none;
    margin-bottom: 20px;
    border: 1px solid #e1e1e1;
}
#form-details form button{
    background-color: #088178;
    color: #fff;
}

#form-details .people img{
    width: 65px;
    height: 65px;
    border-radius: 50px;
    object-fit: cover;
    margin-right: 15px;
}
#form-details .people div{
padding-bottom: 25px;
display: flex;
align-items: flex-start;
}
#form-details .people div p{
    margin: 0;
    font-size: 13px;
    line-height: 25px;
}#form-details .people div span{
    display: block;
    font-size: 16px;
    font-weight: 600;
    color: #000;
}
/*CART PAGE*/

#cart{
    overflow-x: auto;
}
#cart table{
   width: 100%;
   border-collapse: collapse;
   table-layout: fixed;
   white-space: nowrap; 
}

#cart table img{
    width:70px;
}
#cart table td:nth-child(1){
    width: 100px;
    text-align: center;
}
#cart table td:nth-child(2){
    width: 150px;
    text-align: center;
}
#cart table td:nth-child(3){
    width: 250px;
    text-align: center;
}
#cart table td:nth-child(4),
#cart table td:nth-child(5),
#cart table td:nth-child(6){
    width: 150px;
    text-align: center;
}
#cart table td:nth-child(5) input{
    width: 70px;
    padding: 10px 5px 10px 15px;
}
#cart table thead{
    border: 1px solid #e2e9e1;
    border-left: none;
    border-right: none;
}
#cart table thead td{
    font-weight: 700;
    text-transform: uppercase;
    font-size: 13px;
    padding: 18px 0;
}
#cart table tbody tr td{
    padding-top: 15px;
}
#cart table tbody td{
    font-size: 13px;
}
#cart-add{
    display: flex;

    justify-content: space-between;
}
#coupon{
    width: 50%;
    margin-bottom: 30px;
} 
#coupon h3,
#Subtotal h3{
    padding-bottom: 15px;
}
#coupon input{
    padding: 10px 20px;
    outline: none;
    width: 60%;
    margin-right: 10px;
    border: 1px solid #e2e9e1;
}
#coupon button,
#Subtotal button{
    background-color:#088178;
    color: #fff;
    padding: 12px 20px;
}
#Subtotal{
    width: 50%;
    margin-bottom: 30px;
    border: 1px solid #e2e9e1;
    padding: 30px;
}
#Subtotal table{
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;
}
#Subtotal table td{
    width: 50%;
    border: 1px solid #e2e9e1;
    padding: 10px;
    font-size: 13px;

}


 /* Start Media Query */
/*for normal size device*/

@media (max-width:799px){
    .section-p1 {
        padding: 40px 10px;
    }
    #navbar {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top:0;
        right: -300px;
        height: 100vh;
        width: 300px;
        background-color:#E3E6F3;
        box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
        padding:80px 0 0 10px;
    }
    #navbar li{
        margin-bottom: 25px;
    }
    #mobile{
        display: flex;
        align-items: center;
    }

    #mobile i{
        color: #1a1a1a;
        font-size: 24px;
        padding-left: 20px;
    }
    #close{
        display: initial;
        position: absolute;
        top: 30px;
        left: 30px;
        color: #222;
        font-size: 24px;
     }
     #lg-bag{
        display: none;
     }
     #anni {
        height: 70vh;
        background-position: top 30% right 30% ;

    }
    #feature {
        justify-content:center;

    }
    #feature .feature-box {
        margin: 15px 15px;
    }
    #product1 .productslist {
        justify-content: center;
    }
    #product1 .pro-list {
        margin: 15px;
    }
    #banner {
        height: 20vh;   
    }
    #small-banner .banner-box {
        min-width: 100%;
        height: 30vh;
    }
    #banner3 {
        padding: 0 40px;
    }
    #banner3 .banner-box {
        width: 28%;
    }
    #newsletter .form {
        width: 70%;
    }
    #newsletter p {
        font-size: 18px;
    } 
    /*contact page */
    #form-details{
        padding: 40px;
    }
    #form-details form{
        width: 43%;
    }
}
/*for mobile size device */
@media (max-width: 477px) {
    .section-p1 {
        padding: 20px;
    }
    #header {
        padding: 10px 30px;
    }

    #anni {
        background-position: 55%;
    }
    #anni #side {
        padding: 0 10px;
    }
    #feature {
        justify-content: space-between;
    }
    #feature .feature-box {
        width: 126px;
        margin: 0 0 15px 0;
    }
    #product1 .pro-list {
        width: 100%;
       
    }#banner {
        height: 30vh;
    }
    #small-banner .banner-box {
        height: 27vh;
    }#small-banner .banner-box2 {
        margin-top: 20px;
    }
    #banner3 {
        padding: 0 20px;
    }#banner3 .banner-box {
        width: 100%;
    }
    #newsletter {
        padding:40px 20px ;
    }

    #newsletter .form {
        width: 100%;
    }

    /*blog-page*/
    #blog{
        padding: 100px 20px 0 20px;
    }
    #blog .blog-box{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    #blog .blog-img{
        width: 100%;
        margin-right: 0px;
        margin-bottom: 30px;
    }
    #blog .blog-details{
        width: 100%;
    }

    /* about-page*/
    #about_head{
       
        flex-direction: column;
    }
    #about_head img{
        width: 100%;
        margin-bottom: 20px;
    }
    #about_head div{
        padding-left: 0px;
    }
    #about-app .video{
        width: 100%;

    }
    /*contact page*/
    #contact-details{
        flex-direction: column;
    }
    #contact-details .details{
        width: 100%;
        margin-bottom: 30px;
    }
    #contact-details .map{
        width: 100%;
    }
    #form-details{
        margin: 10px;
        padding: 30px 10px;
        flex-wrap: wrap;
    }
    #form-details form{
        width: 100%;
        margin-bottom: 30px;
    }
    /*cart page*/
    #cart-add{
        flex-direction: column;
    }
    #coupon{
        width: 100%;
    }
    #Subtotal{
        width: 100%;
    }
}